html{
    background: #F6F4EB;
}

img{
    height: 100%;
    width: 100%;
}
.clear{
    clear: both;
}

/*nav-container*/

.nav-container{
    width: 100%;
    height: 110px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 1;
    position: absolute;
}

.nav-container .logo{
    width: 80px;
}

.nav-container .logo img{
    border-radius: 50%;
}

.mobile-menu-icon{
    display: none ;
}

.mobile-menu ul li a{
    display: none;
}


.open{
    display: block ;
}

.nav-bar ul{
    display:flex;
}


.nav-bar ul li a{
    display: block;
    font-size: 18px;
    color: #91C8E4;
    padding: 10px 20px;
    border-radius: 25px;
    transition: .5s ease;
    margin: 0 10px;
}

.nav-bar ul li a:hover {
    color: #4682A9;
    background: #fff;
}



.nome-loja{
    display: block;
    padding: 0 10px;
    color: #0C356A;
    font-size: 20px;
}

.nome-loja:hover {
    color:#7FDBFF ;
    opacity: 0.5px;
}

/*content*/

.content {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: url(../imagens/cont.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-box {
    margin-left: 10%;
}

.content-box h2 {
    font-weight: 500;
    font-weight: 38px;
    color: #001C30;
}

.content-box label{
    display: inline-block;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 300;
    color: #068FFF;
}

.content-box label span {
    color: #071952;
}

.content-box a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    letter-spacing: 3px;
    font-size:  14px;
    color: #4F709C;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    box-shadow: 4px 4px 10px #93B1A6, -4px -4px 10px #F0F0F0;
}

.content-box a:hover {
    box-shadow: -4px -4px 10px #93B1A6, 4px 4px 10px #F0F0F0;
}

/*categorias*/

.category{
    background: #A8A196;
    margin: 70px 0;
}

.category-title {
    margin-top: 20px;
    margin-bottom: 90px;
}

.category-title h2{
    text-align: center;
}

.category .category-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category .category-box .box {
    margin: 30px 20px;
}

.category .category-box .box img{
    width: 600px;
    height: 328px;
    border-radius: 5px;
}

.category .category-box .box-content{
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    margin-top: 100px;
}

.category .category-box .box-content h3 {
    color: #68afd3;
}

.category .category-box .box-content label {
    display: block;
    font-size: 30px;
    color: #91C8E4;
}

.category .category-box .box-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 25px;
    background: #F0F0F0;
    transition: all .19s ease-in;
    color: black;
}

.category .category-box .box-content a:hover {
    background: #A8A196;
}

.category .category-box.b2  {
    margin-left: 370px;
    text-align: right;
    margin-top: 100px;
}

.category .category-box .box-content.b2 h3 {
    color:#068FFF;
}

.category .category-box .box-content.b2 label {
    color: #068FFF;
}

.melhor-avaliado{
    padding: 50px;
    background: #fbf9f9;
    margin: 50px 0;
}

.melhor-avaliado-box .melhor-avaliado-title{
    margin-bottom: 80px;
    text-align: center;
}

.melhor-avaliado-items{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.melhor-avaliado-items .melhor-avaliado-item {
    padding: 20px;
    margin: 80px 30px;
    height: 300px;
}

.melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-img img{
    height: 250px;
}

.melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-info{
    margin-top: 15px;
}

.melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-info h4{
    color: #068FFF;
    font-weight: 400;
}

.melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-info .icons i{
    font-size: 15px;
    color: orange;
}

.melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-info .price label{
    font-size: 15px;
}

.melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-info .price label.sale{
    display: inline-block;
    margin-right: 10px;
    text-decoration: line-through;
    color: #071952;
}

.produtos-populares{
    padding: 50px;
    margin-bottom: 120px;
    background: #fbf9f9d5;
}   

.produtos-populares-box .produtos-populares-titulo{
    margin: 60px 0;
}

.produtos-populares-box .produtos-populares-titulo h2{
    text-align: center;
}

.produtos-populares-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.produtos-populares-items .produto-popular-item {
    padding: 10px;
    margin: 80px 40px;
    height: 300px;
    width: 400px;
}

.produtos-populares-items .produto-popular-item .produto-popular-img img{
    height: 250px;
    
}

.produtos-populares-items .produto-popular-item .produto-popular-info{
    margin-top: 15px;
}

.produtos-populares-items .produto-popular-item .produto-popular-info h4{
    font-weight: 400;
    margin-bottom: 5px;
    color: #93B1A6;
}

.produtos-populares-items .produto-popular-item .produto-popular-info .price label{
    font-size: 15px;
}

.produtos-populares-items .produto-popular-item .produto-popular-info .price label.sale{
    display: inline-block;
    margin: 10px;
    text-decoration: line-through;
    color: gray;
}

.produtos-populares-box .produtos-populares-btn{
    margin-top: 50px;
    text-align: center;
}

.produtos-populares-box .produtos-populares-btn button{
    display: inline-block;
    padding: 12px 25px;
    background: #dbcfcf;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.685);
    cursor: pointer;
    transition: .2s all ease-in;
    letter-spacing: 1px;
}

.produtos-populares-box .produtos-populares-btn button:hover{
    background:#5249496c ;
}

.noticias-desconto-box{
    display: flex;
    width: 100%;
    padding: 30px;
    background: #dbcfcf;
    margin: 20px 0;
    justify-content: space-between;
}

.noticias-desconto-box .noticias-desconto-content{
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 59px;
    font-size: 32px;
}

.noticias-desconto-box .noticias-desconto-content P{
    margin: 30px 0 0 50px;
}

.noticias-desconto-box  .noticias-desconto-content .time{
    margin: 60px 0 0 46px;
    font-size: 30px;
}

.noticias-desconto-box  .noticias-desconto-content .time label{
    margin: 0 12px;
}

.noticias-desconto-box  .noticias-desconto-content .time label span{
    margin-left: 15px;
}

.noticias-desconto-box  .noticias-desconto-img{
    width: 320px;
    margin-right: 100px;
    margin-top: 15px;
}

.nossos-servicos{
    background: #fbf9f9;
}

.nossos-servicos-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.nossos-servicos-box .nossos-servicos-item{
    text-align: center;
    margin: 30px 40px;
    width: 330px;
    line-height: 35px;
    padding: 15px;
}

.nossos-servicos-box .nossos-servicos-item .nossos-servicos-icon{
    padding: 30px 40px;
    box-shadow: rgba( 0, 0, 0, 0.1) 0 10px 70px;
    display: inline-block;
    border-radius: 10px;
    font-size: 23px;
    color: rgba(212, 143, 14, 0.884);
    transition: all .4s ease-in-out;
    margin-bottom: 35px;
}

.nossos-servicos-box .nossos-servicos-item .nossos-servicos-icon:hover{
    background: rgba(212, 143, 14, 0.884);
    color: #fffafa;
    scale: 1.2;
}
.nossos-servicos-box .nossos-servicos-item .nossos-servicos-icon i:hover{
    scale: 1.4;
}

.nossos-servicos-box .nossos-servicos-item .nossos-servicos-info h3{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
}

.nossos-servicos-box .nossos-servicos-item .nossos-servicos-info label{
    font-size: 15px;
    font-weight: 300;
}

.footer{
    padding: 80px 90px;
    background: #241816d2;
    margin-top: 30px;
}

.footer-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #24181656;
    color: #f6f4ebe8;
}

.footer-box .footer-i h4 {
    margin-bottom: 30px ;
    font-size: 19px;
}

.footer-box .footer-i label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    color: rgb(137, 130, 130);
}

.footer-box .footer-i {
    margin: 30px;
}

.footer-box .footer-i.f3 {
    position: relative;
    bottom: 40px;
}

.footer-box .footer-i.f4 {
    position: relative;
    top: 32px;
}

.footer-box .footer-i.f4 label {
    width: 400px;
    display: block;
    line-height: 22px;
}

.footer-box .footer-i.f4 input {
    display: inline-block;
    margin-top: 20px;
    width: 300px;
    padding: 12px 30px;
    border: none;
    outline: none;
}

.footer-box .footer-i.f4 button {
    padding: 12px;
    position: relative;
    right: 8px;
    background: #fffafa;
    outline: none;
    border: none;
    cursor: pointer;
}

.footer-box .footer-i.f4 .social-media {
    margin-top: 30px;
}

.footer-box .footer-i.f4 .social-media a i {
    color: #F0F0F0;
    margin-right: 10px;
    font-size: 19px;
    border-radius: 50%; 
    transition: all .2s ease-in-out;
    padding: 13px;
}

.footer-box .footer-i.f4 .social-media a i:hover{
    background: #fbf9f9;
    color: #7fdbffe1 ;
}

   @media screen and (max-width: 1200px){
    .nav-bar{
        position: absolute;
    }
    .nav-bar ul li a{
        position: relative;
        top: 0;
        left: 350px;
    }


    .nome-loja{
        display:flex;
        position: absolute;
        color: #7FDBFF;
        font-size: 20px;
        
    }

    .nome-loja h2{
        position: relative;
        top: 0px;
        left: 100px;
    }

    .category .category-box .box img{
        width:530px;
        height: 328px;
    }

    .category .category-box .box-content.b2 {
        margin-left: 300px;
        text-align: right;
        margin-top: 100px;
    }

    .noticias-desconto-box .noticias-desconto-content p{
        margin: 30px 0 0 50px;
        font-size: 25px;
    }

    .noticias-desconto-box .noticias-desconto-content .time{
        margin: 60px 0 0 46px;
        font-size: 30px;
    }

    .noticias-desconto-box .noticias-desconto-content .time label{
        margin: 0 12px;
    }

    .noticias-desconto-box .noticias-desconto-content .time label span{
        margin-left: 15px;
    }

    .noticias-desconto-box .noticias-desconto-img img{
        width: 300px ;
        margin-right: 100px;
        margin-top: 15px;
    }

   }

   @media screen and (max-width: 1090px){
    .nav-bar{
        display: none;
        }
 
        .mobile-menu-icon{
            cursor: pointer;
            display: block;
            color: #F0F0F0;
            height: 25px;
            position: absolute;
            top: 40px;
            right: 0;
            left: 800px;
            width: 100%;
        }

        .mobile-menu{
            display: none;
        }

        .mobile-menu ul li a{
            display: block;
            font-size: 18px;
            color: #91C8E4;
            padding: 10px 20px;
            border-radius: 25px;
            transition: .5s ease;
            margin: 0 10px;
            position: absolute;
            top: 40px;
            right: 0;
            left: 800px;
            width: 100%;
           }

    .content-box label{
        display: inline-block;
        margin-top: 5px;
        font-size: 18px;
        font-weight: 300;
        padding: 5px;

   }

   .noticias-desconto-box .noticias-desconto-content p{
    margin: 30px 0 0 50px;
    font-size: 23px;
}

.noticias-desconto-box .noticias-desconto-content .time{
    margin: 60px 0 0 46px;
    font-size: 30px;
}

.noticias-desconto-box .noticias-desconto-content .time label{
    margin: 0 12px;
}

.noticias-desconto-box .noticias-desconto-content .time label span{
    margin-left: 15px;
}

.noticias-desconto-box .noticias-desconto-img img{
    width: 260px ;
    margin-right: 100px;
    margin-top: 15px;
}
   }

   @media screen and (max-width: 930px){
    .noticias-desconto-box{
        flex-direction: column;
        text-align: center;
    }

    .noticias-desconto-box .noticias-desconto-img img{
        margin: 0;
        margin-top: 15px;
    }

   }

   @media screen and (max-width: 860px){

    .nav-container{
        position: absolute;
    }

    .nav-container .logo{
        display:inline-block;
        position: relative;
        left: 0;
        top: 0;
        right: 50px;
    }

    .nav-bar{
        position: absolute;

    }

    .nav-bar ul li a{
        position: relative;
        top: 0;
        right: 0;
    }

    .mobile-menu-icon{
        display: block;
        color: #F0F0F0;
        height: 25px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 700px;
        width: 100%;
    }

    .mobile-menu{
        display: block;
        font-size: 18px;
        color: #91C8E4;
        padding: 10px 20px;
        border-radius: 25px;
        transition: .5s ease;
        margin: 0 10px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 700px;
        width: 100%;
       }
    .content-box {
        margin-left: 5%;
        padding: 7px;
    }

    .content-box h2{
        font-weight: 400;
        font-size: 29px;
        color: #001C30;
    }

    .content-box label{
        display: inline-block;
        margin-top: 5px;
        font-size: 18px;
        font-weight: 300;
        padding: 5px;
    }

    .content-box label span{
        color: #071952;
    }

    .content-box a{
        display: inline-block;
        margin-top: 20px;
        padding: 10px;
        color: #4F709C;
        letter-spacing: 3px;
        font-size: 12px;
        border-radius: 5px;
        transition: all .2s ease-in-out;
    }
}

@media screen and (max-width: 835px){
    .footer-box .footer-i.f3{
        bottom: 0;
    }
}



@media screen and (max-width: 820px){
    .melhor-avaliado-title h2{
        font-weight: 400;
    }

    .melhor-avaliado-box .melhor-avaliado-title{
        margin-bottom: 40px;
    }

    .melhor-avaliado-box .melhor-avaliado-title h2 {
        font-size: 21px;
    }

    .melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-img img{
        height: 230px;
    }

    .produtos-populares-titulo h2{
        font-weight: 400;
    }

    .produtos-populares .produtos-populares-titulo h2{
        font-size: 21px;
    }
}


@media screen and (max-width: 730px){
    .nav-container{
        position: absolute;
    }

    .nav-container .logo{
        display:inline-block;
        position: relative;
        left: -50px;
        top: 0;
        right: 0px;
    }

    .nome-loja{
        display:flex;
        font-size: 18px;
        
    }

    .nome-loja h2{
        position: relative;
        top: 0px;
        left: 150px;
    }

    .nav-bar{
        position: absolute;

    }

    .nav-bar ul li a{
        position: relative;
        top: 0;
        right: 0;
    }

    .mobile-menu-icon{
        display: block;
        color: #F0F0F0;
        height: 25px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 580px;
        width: 100%;
    }
    .mobile-menu{
    display: block;
    font-size: 18px;
    color: #91C8E4;
    padding: 10px 20px;
    border-radius: 25px;
    transition: .5s ease;
    margin: 0 10px;
    position: absolute;
    top: 40px;
    right: 0;
    left: 580px;
   }

}


   @media screen and (max-width: 710px){
    .category-title h2{
        font-size: 22px;
        font-weight: 400;
    }

    .category .category-box .box img {
        width: 480px;
        height: 260px;
        margin: 0 20px;
    }

    .category .category-box .box-content label {
        font-size: 25px;
        margin-left: 10px;
        
    }

    .category .category-box .box-content h3 {
        margin-left: 10px;
        font-size: 16px;
    }

    .category .category-box .box-content a {
        padding: 10px 16px;
        font-size: 14px;
        margin-top: 10px;
        margin-left: 10px;
    }

}

   @media screen and (max-width: 600px){
    .nav-container{
        position: absolute;
    }

    .nav-container .logo{
        display:inline-block;
        position: relative;
        left: -80px;
        top: 0;
        right: 0px;
    }

    .nome-loja{
        display:flex;
        font-size: 16px;
        
    }

    .nome-loja h2{
        position: relative;
        top: 0px;
        left: 100px;
    }

    .nav-bar{
        position: absolute;

    }

    .nav-bar ul li a{
        position: relative;
        top: 0;
        right: 0;
    }

    .mobile-menu-icon{
        display: block;
        color: #F0F0F0;
        height: 25px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 450px;
        width: 100%;
    }

    .mobile-menu{
        display: block;
        font-size: 18px;
        color: #91C8E4;
        padding: 10px 20px;
        border-radius: 25px;
        transition: .5s ease;
        margin: 0 10px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 450px;
        width: 100%;
       }

    .category-title h2{
        font-size: 18px;
        font-weight: 400;
    }

    .category .category-box .box img {
        width: 340px;
        height: 190px;
        margin: 0 20px;
    }

    .category .category-box .box-content.b2 {
        margin-left: 180px;
        text-align: right;
        margin-top: 60px;
        
    }

    .category .category-box .box-content {
        margin-top: 60px;
        
    }

    .category .category-box .box-content label {
        font-size: 19px;
    }

    .category .category-box .box-content h3 {
        font-size: 14px;
    }

    .category .category-box .box-content a {
        padding: 8px 12px;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .produtos-populares-items  .produto-popular-item{
        padding: 20px;
        margin: 90px 30px;
        height: 300px;
    }

    .produtos-populares-items  .produto-popular-item .produto-popular-img img{
        height: 230px;
        width: 400px;
    }
    
    .nossos-servicos-box .nossos-servicos-item{
        margin: 30px 40px;
        width: 350px;
        line-height: 35px;
        padding: 12px;
    }

    .nossos-servicos-box .nossos-servicos-item .nossos-servicos-icon{
        padding: 20px 30px;
        font-size: 18px;
        margin-bottom: 35px;
    }

    .nossos-servicos-box .nossos-servicos-item .nossos-servicos-info h3{
        font-size: 17px;
        margin-bottom: 10px;
    }

    .nossos-servicos-box .nossos-servicos-item .nossos-servicos-info label{
        font-size: 14px;
        font-weight: 300;
    }

    .noticias-desconto-box{
        flex-direction: column;
        text-align: center;
    }

    .noticias-desconto-box .noticias-desconto-content p{
        font-size: 16px !important;font-size: 20px;
        margin: 0;
    }

    .noticias-desconto-box .noticias-desconto-content .time{
        margin: 0;
        font-size: 22px;
    }

    .noticias-desconto-box .noticias-desconto-content .time label{
        margin: 0 12px;
    }

    .noticias-desconto-box .noticias-desconto-content .time label span{
        margin-left: 15px;
    }

    .noticias-desconto-box .noticias-desconto-img img{
        width: 240px;
        margin: 0;
        margin-top: 15px;
    }

    .footer-box .footer-i.f4{
        margin: 20px;
    }

    .footer-box .footer-i.f4 label{
        width: 300px;
    }

    .footer-box .footer-i.f4 input{
        width: 250px;
        padding: 12px 30px;
    }
}

@media screen and (max-width: 496px){
    .nav-bar{
        position: absolute;

    }

    .nav-bar ul li a{
        position: relative;
        top: 0;
        right: 0;
    }

    .mobile-menu-icon{
        display: block;
        color: #F0F0F0;
        height: 25px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 400px;
        width: 100%;
    }

    .mobile-menu{
        display: block;
        font-size: 18px;
        color: #91C8E4;
        padding: 10px 20px;
        border-radius: 25px;
        transition: .5s ease;
        margin: 0 10px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 400px;
        width: 100%;
       }

    .category-title h2{
        font-size: 18px;
        font-weight: 400;
    }

    .category .category-box .box img {
        width: 260px;
        height: 160px;
        margin: 0 20px;
    }

    .category .category-box .box-content.b2 {
        margin-left: 140px;
        text-align: right;
        margin-top: 25px;
        
    }

    .category .category-box .box-content {
        margin-top: 25px;
        
    }

    .category .category-box .box-content label {
        font-size: 14px;
        margin-left: 9px;
    }

    .category .category-box .box-content h3 {
        font-size: 11px;
        margin-left: 9px;
    }

    .category .category-box .box-content a {
        padding: 5px;
        font-size: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 465px){
    .melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-img img{
        height: 200px;
    }

    .melhor-avaliado-items .melhor-avaliado-item{
        padding: 20px;
        margin: 40px 10px;
        height: 300px;
    }
    
    .produtos-populares-items  .produto-popular-item{
        padding: 20px;
        margin: 70px 0;
        height: 300px;
    }

    .produtos-populares-items  .produto-popular-item .produto-popular-img img{
        height: 200px;
    }

    .nossos-servicos-box .nossos-servicos-item{
        margin: 20px 10px;
        width: 350px;
        line-height: 35px;
        padding: 6px;
    }

    .nossos-servicos-box .nossos-servicos-item .nossos-servicos-icon{
        padding: 15px 23px;
        font-size: 15px;
        margin-bottom: 35px;
    }

    .nossos-servicos-box .nossos-servicos-item .nossos-servicos-info h3{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .nossos-servicos-box .nossos-servicos-item .nossos-servicos-info label{
        font-size: 13px;
        font-weight: 300;
    }

    .noticias-desconto-box{
        flex-direction: column;
        text-align: center;
    }

    .noticias-desconto-box .noticias-desconto-content p{
        font-size: 16px;
        margin: 0;
    }

    .noticias-desconto-box .noticias-desconto-content .time{
        margin: 0;
        font-size: 18px;
        margin: 20px;
    }

    .noticias-desconto-box .noticias-desconto-content .time label{
        margin: 0 7px;
    }

    .noticias-desconto-box .noticias-desconto-content .time label span{
        margin-left: 7px;
    }

    .noticias-desconto-box .noticias-desconto-img img{
        width: 200px;
        margin: 0;
        margin-top: 50px;
    }

    .footer-box {
        text-align: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .footer-box .footer-i {
        margin: 30px 0;
        padding: 0;
    }

    .footer-box .footer-i.f4{
        margin: 10px;
    }

    .footer-box .footer-i.f4 label{
        width: 250px;
    }

    .footer-box .footer-i.f4 input {
        width: 200px;
        padding: 10px 25px;
    }

    .footer-box .footer-i.f4 .social-media{
        margin-top: 20px;
    }

    .footer-box .footer-i.f4 .social-media a i{
        margin-right: 5px;
        font-size: 17px;
        padding: 11px;
    }

    .footer-box .footer-i.f4 button{
        padding: 10px;
        position: relative;
        right: 8px;
    }
}

@media screen and (max-width: 380px){
    .melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-img img{
        height: 150px;
    }

    .melhor-avaliado-items .melhor-avaliado-item{
        padding: 20px;
        margin: 30px 10px;
        height: 300px;
    }
    
    .melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-info .icons{
        font-size: 10px;
    }

    .melhor-avaliado-items .melhor-avaliado-item .melhor-avaliado-info .price label {
        font-size: 12px;
    }

    .produtos-populares-items  .produto-popular-item{
        padding: 20px;
        margin: 30px 0;
        height: 300px;
    }

    .produtos-populares-items  .produto-popular-item .produto-popular-img img{
        height: 150px;
    }

    .produtos-populares-items  .produto-popular-item .produto-popular-info .price label{
        font-size: 13px;
    }

    .produtos-populares-box  .produtos-populares-btn button{
        padding: 12px 16px;
        font-size: 15px;
    }

    .nossos-servicos-box .nossos-servicos-item {
     margin: 30 px 5px;
     width: 300px;
     line-height: 35px;
     padding: 4px;
    }

    .nossos-servicos-box .nossos-servicos-item .nossos-servicos-icon{
        padding: 15pxx 23px;
        font-size: 15px;
        margin-bottom: 35px;
    }

    .nossos-servicos-box .nossos-servicos-item .nossos-servicos-info h3{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .nossos-servicos-box .nossos-servicos-item .nossos-servicos-info label{
        font-size: 13px;
        font-weight: 300;
    }

    .noticias-desconto-box{
        flex-direction: column;
        text-align: center;
    }

    .noticias-desconto-box .noticias-desconto-content p{
        font-size: 14px;
        margin: 0;
    }

    .noticias-desconto-box .noticias-desconto-content .time{
        margin: 0;
        font-size: 16px;
        margin: 20px;
    }

    .noticias-desconto-box .noticias-desconto-content .time label{
        margin: 0 7px;
    }

    .noticias-desconto-box .noticias-desconto-content .time label span{
        margin-left: 7px;
    }

    .noticias-desconto-box .noticias-desconto-img img{
        width: 200px;
        margin: 0;
        margin-top: 50px;
    }
}